{% extends 'Base.html' %}

{% block title %}
About 
{% endblock title %}

{% block body %} 
<div align= "center" style= "background-image: url(static/images/buildings.jpg); height: 200px; background-repeat: no-repeat; background-size: 100vw" >
</div>

<div>
<h1 style= "background-image: linear-gradient(to bottom, skyblue, white ); text-align: center"><u>About Us</u></h1>
<br>
<br><br>
</div>

<div style= "padding-left: 10vw; padding-right: 10vw">
<p>Gagan Properties is a reputed firm with 20 years of field experience. Gagan Berry, who is continuously working to bring revolution in the real estate industry. His hard work and innovative ideas has led "Gagan Berry" towards a great success. The firm was founded by Gagan Berry.
</p>
<p>
A real estate firm to provide you with the most appropriate and suitable properties in Kirti Nagar as per your requirements. Providing you with a professional property consultant to help you find the perfect property.Gagan Berry believes in helping clients by providing them satisfaction and also arranging loans services as per the chosen property. As we have committed to provide a good return to our clients on their property. The firm has gained a lot of reputation by providing excellent service to the buyers. We have always supported our clients, enhanced our skills, managed our time, improved our quality and completed all the projects in time.
</p>
<p>
A home is where memories are made, a home is where we find peace and happiness. A home is what we dream about. A shelter full of love and care. At Gagan Properties we not only help you search one but we give you the full authority to modify and choose a property as per your requirement. The trust and loyalty that we own in the industry itself tells about our hard work and ethical business practices.
<br>
</p>
<br><br><br>
</div> 
{% endblock body %} 