{% extends 'Base.html' %}

{% block title %}
Services 
{% endblock title %}

{% block body %} 
<!--WE OFFER-->
<div class="title-content">
<h2 style= "text-align: center; background-image: linear-gradient(to bottom, rgb(233, 248, 100), white );"><br><u>Services We Offer</u></h2>
<h2 style= "text-align: center"><br><u>Sale, Purchase, Renting And Collaboration</u></h2>
<h2 style= "text-align: center"><u>Deals in Commercial, Industrial, Residential Properties </u></h2>
<hr style="height:2px; border-width:0; color:gray; background-color:gray">
</div>

<!--We OFFER Cards Group-->
<div class="row row-cols-1 row-cols-md-3 g-4" style= "padding-left: 8vw; padding-right: 8vw">
  <div class="col">
    <div class="card" style= "text-align: center">
      <img src="static/images/consulting.jpg" alt="..." width="50" height="60" style= "display: block; margin-left: auto; margin-right: auto" >
      <div class="card-body">
        <h5 class="card-title"><u>Real Estate Consultant</u></h5>
        <p class="card-text">The most suitable properties with the help of a professional real estate consultant, we offer you a variety of services with all the latest updates.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style= "text-align: center">
      <img src="static/images/navigation.jpg" alt="..." width="50" height="60" style= "display: block; margin-left: auto; margin-right: auto">
      <div class="card-body">
        <h5 class="card-title"><u>One Stop Solution</u></h5>
        <p class="card-text">We are continuously working to provide our clients the best out of all the options.We have our own and independent sources to provide our clients the service of excellence.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style= "text-align: center">
      <img src="static/images/budget.jpg" alt="..." width="50" height="60" style= "display: block; margin-left: auto; margin-right: auto">
      <div class="card-body">
        <h5 class="card-title"><u>Budget Friendly</u></h5>
        <p class="card-text">Located in Kirti Nagar, Delhi. A firm with 20 years of experience providing our clients with excellent service, without any extra cost or excessive amount. Buy a beautiful property at a reasonable price without any complaints.</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card" style= "text-align: center">
      <img src="static/images/loan.jpg" alt="..." width="50" height="60" style= "display: block; margin-left: auto; margin-right: auto">
      <div class="card-body">
        <h5 class="card-title"><u>Loan Facilities</u></h5>
        <p class="card-text">Loan facilities are provided to our clients based upon the criteria and the minimum budget requirement to invest in a property with proper guidance.</p>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock body %} 